{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
{{ function('wp_body_open') }}
<a href="#content" class="skip-link sr-only">{{ _e( 'Skip to content') }}</a>
<header class="bg-white py-4">
	{% block header %}
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate" role="banner">
				<a href="{{site.url}}" class="text-indigo-600 hover:text-indigo-500" rel="home">{{site.name}}</a>
			</h1>
			<nav id="nav-main" class="mt-5" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav><!-- #nav -->
		</div>
	{% endblock %}
</header>

<section id="content" role="main" class="my-6">
	{% if title %}<h1 class="text-3xl font-extrabold tracking-tight text-gray-900">{{title}}</h1>{% endif %}
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		{% block content %}
			<p class="text-gray-600">Sorry, no content</p>
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="sidebar mt-8">
			{{sidebar}}
		</aside>
	{% endif %}
</section>

{% block footer %}
	<footer id="footer" class="bg-gray-100">
		{% include 'views/footers/twui-simple-centered.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
</body>
</html>

